In [4]:
! pip install findspark

Collecting findspark
  Using cached https://files.pythonhosted.org/packages/b1/c8/e6e1f6a303ae5122dc28d131b5a67c5eb87cbf8f7ac5b9f87764ea1b1e1e/findspark-1.3.0-py2.py3-none-any.whl
Installing collected packages: findspark
Successfully installed findspark-1.3.0

In [6]:
import findspark

In [7]:
findspark.init()

In [8]:
import pyspark

In [9]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder.appName('usecase-1').getOrCreate()

In [11]:
df = spark.read.format('csv').options(header=True, inferSchema=True, delimiter=',').load('OLYMPICS_SUMMER.csv')

In [12]:
df.show(5)

+----+------+--------+----------+------------------+-------+------+--------------------+------+
|Year|  City|   Sport|Discipline|           Athlete|Country|Gender|               Event| Medal|
+----+------+--------+----------+------------------+-------+------+--------------------+------+
|1896|Athens|Aquatics|  Swimming|     HAJOS, Alfred|    HUN|   Men|      100M Freestyle|  Gold|
|1896|Athens|Aquatics|  Swimming|  HERSCHMANN, Otto|    AUT|   Men|      100M Freestyle|Silver|
|1896|Athens|Aquatics|  Swimming| DRIVAS, Dimitrios|    GRE|   Men|100M Freestyle Fo...|Bronze|
|1896|Athens|Aquatics|  Swimming|MALOKINIS, Ioannis|    GRE|   Men|100M Freestyle Fo...|  Gold|
|1896|Athens|Aquatics|  Swimming|CHASAPIS, Spiridon|    GRE|   Men|100M Freestyle Fo...|Silver|
+----+------+--------+----------+------------------+-------+------+--------------------+------+
only showing top 5 rows

In [15]:
df.filter(df.Discipline == 'Swimming').show(5)

+----+------+--------+----------+------------------+-------+------+--------------------+------+
|Year|  City|   Sport|Discipline|           Athlete|Country|Gender|               Event| Medal|
+----+------+--------+----------+------------------+-------+------+--------------------+------+
|1896|Athens|Aquatics|  Swimming|     HAJOS, Alfred|    HUN|   Men|      100M Freestyle|  Gold|
|1896|Athens|Aquatics|  Swimming|  HERSCHMANN, Otto|    AUT|   Men|      100M Freestyle|Silver|
|1896|Athens|Aquatics|  Swimming| DRIVAS, Dimitrios|    GRE|   Men|100M Freestyle Fo...|Bronze|
|1896|Athens|Aquatics|  Swimming|MALOKINIS, Ioannis|    GRE|   Men|100M Freestyle Fo...|  Gold|
|1896|Athens|Aquatics|  Swimming|CHASAPIS, Spiridon|    GRE|   Men|100M Freestyle Fo...|Silver|
+----+------+--------+----------+------------------+-------+------+--------------------+------+
only showing top 5 rows

In [16]:
df.filter(df.Discipline == 'Swimming').groupBy('Country')

In [26]:
df.filter(df.Discipline == 'Swimming').groupBy('Country').agg({'Medal':'count'})

DataFrame[Country: string, count(Medal): bigint]

In [28]:
df.filter(df.Discipline == 'Swimming').groupBy('Country').agg({'Medal':'count'}).show(5)

+-------+------------+
|Country|count(Medal)|
+-------+------------+
|    POL|           6|
|    BRA|          19|
|    CUB|           2|
|    FRA|          73|
|    EUA|          27|
+-------+------------+
only showing top 5 rows

In [29]:
df.filter(df.Discipline == 'Swimming').groupBy('Country').agg({'Medal':'count'}).orderBy('count(Medal)')

DataFrame[Country: string, count(Medal): bigint]

In [33]:
from pyspark.sql.functions import desc

In [38]:
df.filter(df.Discipline == 'Swimming').groupBy('Country').agg({'Medal':'count'}).sort(desc('count(Medal)'))

DataFrame[Country: string, count(Medal): bigint]

### 1) Find the total number of medals won by each country in swimming.

In [39]:
df.filter(df.Discipline == 'Swimming').groupBy('Country').agg({'Medal':'count'}).sort(desc('count(Medal)')).show()

+-------+------------+
|Country|count(Medal)|
+-------+------------+
|    USA|         895|
|    AUS|         343|
|    GDR|         137|
|    GER|         124|
|    NED|         109|
|    JPN|         109|
|    GBR|         106|
|    URS|          98|
|    HUN|          80|
|    CAN|          76|
|    FRA|          73|
|    CHN|          64|
|    SWE|          64|
|    FRG|          49|
|    RUS|          39|
|    EUN|          30|
|    EUA|          27|
|    RSA|          24|
|    ITA|          22|
|    BRA|          19|
+-------+------------+
only showing top 20 rows

### 2.Find the number of medals that India won year wise.

In [41]:
df.filter(df.Country == 'IND').show(3)

+----+---------+---------+----------+--------------------+-------+------+------------+------+
|Year|     City|    Sport|Discipline|             Athlete|Country|Gender|       Event| Medal|
+----+---------+---------+----------+--------------------+-------+------+------------+------+
|1900|    Paris|Athletics| Athletics|   PRITCHARD, Norman|    IND|   Men|        200M|Silver|
|1900|    Paris|Athletics| Athletics|   PRITCHARD, Norman|    IND|   Men|200M Hurdles|Silver|
|1928|Amsterdam|   Hockey|    Hockey|ALLEN, Richard James|    IND|   Men|      Hockey|  Gold|
+----+---------+---------+----------+--------------------+-------+------+------------+------+
only showing top 3 rows

In [43]:
df.filter(df.Country == 'IND').show(5)

+------+
| Medal|
+------+
|Silver|
|Silver|
|  Gold|
|  Gold|
|  Gold|
+------+
only showing top 5 rows

In [52]:
df.filter(df.Country == 'IND').groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|1952|   15|
|1956|   17|
|1968|   15|
|2004|    1|
|1932|   11|
|1996|    1|
|1960|   13|
|2012|    6|
|1936|   19|
|1980|   16|
|1972|   14|
|1964|   15|
|2000|    1|
|2008|    3|
|1948|   20|
|1900|    2|
|1928|   15|
+----+-----+

In [54]:
df.filter(df.Country == 'IND').groupBy('Year').count().orderBy('Year').show()

+----+-----+
|Year|count|
+----+-----+
|1900|    2|
|1928|   15|
|1932|   11|
|1936|   19|
|1948|   20|
|1952|   15|
|1956|   17|
|1960|   13|
|1964|   15|
|1968|   15|
|1972|   14|
|1980|   16|
|1996|    1|
|2000|    1|
|2004|    1|
|2008|    3|
|2012|    6|
+----+-----+

### 3.Find the total number of medals won by each country.

In [56]:
df.groupBy('Country').agg({'Medal':'count'}).sort(desc('count(Medal)')).show(5)

+-------+------------+
|Country|count(Medal)|
+-------+------------+
|    USA|        4585|
|    URS|        2049|
|    GBR|        1720|
|    FRA|        1396|
|    GER|        1305|
+-------+------------+
only showing top 5 rows