In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('usecase_5').getOrCreate()
sc = spark.sparkContext
sc.setLogLevel('ERROR')

In [3]:
df_911 = spark.read.format('csv').options(header=True, inferSchema=True).load('/FileStore/tables/911.csv')

In [4]:
df_911.count()

In [5]:
df_911.show(5)

In [6]:
df_911.printSchema()

In [7]:
df_911.createOrReplaceTempView('table_911')

In [8]:
zip_df = spark.read.format('csv').options(header=True, inferSchema=True).load('/FileStore/tables/zipcode.csv')

In [9]:
zip_df.count()

In [10]:
zip_df.show(5)

In [11]:
zip_df.printSchema()

In [12]:
zip_df.createOrReplaceTempView('table_zip')

In [13]:
final_df = spark.sql("SELECT t1.*, t2.city, t2.state FROM table_911 t1 JOIN table_zip t2 ON t1.zip=t2.zip")

In [14]:
final_df.columns

In [15]:
final_df.select('title','city','state').show(5)

In [16]:
final_df.createOrReplaceTempView('data')

In [17]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import desc

In [18]:
def trimTitle(str1):
    str1 = str1.strip()
    rstr = ''
    if (str1 != None):
        rstr = str1.split(':')[0]
    return rstr

In [19]:
spark.udf.register('trimTitle',trimTitle,StringType())

In [20]:
spark.sql("SELECT count(*) as count, state, trimTitle(title) as title from data group by state,trimTitle(title)").orderBy(desc('count')).show(5)

In [21]:
spark.sql("SELECT count(*) as count, city, trimTitle(title) as title from data group by city,trimTitle(title)").orderBy(desc('count')).show(5)